*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/Manifest.toml
/docs/build/
Manifest.toml
deps/build.log
deps/deps.jl
deps/downloads/
deps/src/
deps/usr/
docs/build/
docs/site/
docs/src/assets/logo.xcf
**/.claude/settings.local.json
.tasks
test/documenter/builds/*
test/quietly-logs/*
docs/cached/*
